@import './base.css';

.text {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
}

.h1{
  color: var(--color-text);
  font-size: 40px;
  font-weight: 700;
}

.h2{
  color: var(--color-text);
  font-size: 32px;
  font-weight: 700;
}

.h3{
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
}